$body-background-colour: #00EAC8;
$body-colour: #000;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
$base:         'Circular','Arial', 'Helvetica', Sans-Serif;
$font-regular: 'Circular', 'OpenSans',Sans-Serif;

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);

  }
}
